# Git
.git
.github

# Environment
.env
.env.*
!.env.example

# Dependencies
vendor
node_modules

# Logs
storage/logs/*

# IDE
.vscode
.idea
.fleet

# OS files
.DS_Store
Thumbs.db

# Tests
.phpunit.result.cache

# Misc
*.log
*.zip